---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a class:list={[className, { 'underline underline-offset-4 decoration-2': isActive }]} style={isActive ? 'color: var(--accent); text-decoration-color: var(--accent);' : ''} href={href} {...props}>    <slot />
</a>
